<img src = 'EER_Model.png'>

In [1]:
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
from urllib.parse import quote_plus

In [2]:
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
connection = "mysql+pymysql://root:Obedokoro004!@localhost/books"

In [3]:
engine = create_engine(connection)

engine

Engine(mysql+pymysql://root:***@localhost/books)

In [4]:
# Check if the database exists. If not, create it.
if database_exists(connection) == False:
  create_database(connection)
else:
  print('The database already exists')

The database already exists

In [5]:
users = pd.read_csv("CSV.files/data (3).csv")
users.head()

   id first_name  last_name                 email
0   1       John        Doe          JD@books.com
1   2      Robin      Smith       Robin@books.com
2   3     Gloria  Rodriguez  grodriquez@books.com

In [6]:
books = pd.read_csv("CSV.files/data (4).csv")
books.head

<bound method NDFrame.head of    id                 title  author_id
0   1           The Shining          1
1   2                    It          1
2   3      The Great Gatsby          2
3   4  The Call of the Wild          3
4   5   Pride and Prejudice          4
5   6          Frankenstein          5>

In [7]:
authors = pd.read_csv("CSV.files/data (5).csv")
authors.head

<bound method NDFrame.head of    id        author_name
0   1       Stephen King
1   2  F.Scott Fitgerald
2   3        Jack London
3   4        Jane Austen
4   5       Mary Shelley>

In [8]:
favorites = pd.read_csv("CSV.files/data (5).csv")
favorites.head

<bound method NDFrame.head of    id        author_name
0   1       Stephen King
1   2  F.Scott Fitgerald
2   3        Jack London
3   4        Jane Austen
4   5       Mary Shelley>

In [9]:
users.to_sql('users', engine, if_exists = 'replace')

3

In [10]:
books.to_sql('books', engine, if_exists = 'replace')

6

In [11]:
authors.to_sql('authors', engine, if_exists = 'replace')

5

In [12]:
favorites.to_sql('favorites', engine, if_exists = 'replace')

5

In [13]:
query = """SHOW TABLES"""
pd.read_sql(query, engine)

  Tables_in_books
0         authors
1           books
2       favorites
3           users

In [14]:
query1 = """SELECT books.title, favorites.user_id
FROM books
JOIN favorites ON books.id = favorites.book_id
WHERE favorites.user_id in (SELECT users.id FROM users WHERE users.last_name = "Doe" AND users.first_name = "John");
"""

In [ ]:
pd.read_sql(query1, engine)